@import "assets/styles/_main"

body
    background-color: #F5F5F5 !important

#map
    .leaflet-control-container > div:first-of-type
        top: $headerHeight
    .leaflet-popup-content
        margin: 0.5rem

.simpleTopSpacing
    padding-top: $headerHeight